
body{
    min-height: 100vh;
    background-color: black;

}

main{
    background-color: black;
}

.carousel-item{
    max-height: calc(100vh - 56px);
}

.carousel-item img{
    height: 100%;
    max-width: 100%;
    margin: 0 auto;
}
    

footer{
    background-color: black;
}
.social{
    text-align: center;
    font-size: 70px;
    color:white   
}
.img-about{
    height: auto;
}
aside{
    background-color: black;
}
aside h1{
    text-align: center;
    color: white;
}
aside .lead{
    text-align: center;
    color: white;
}
.contact{
    display: flex;
    align-items: center;
    justify-content: center;
}
.contact a:hover{
    background-color: rgb(54, 51, 51);
    color: white;
  }
.micolor{
    background-color: black;
}
#galeria .col-lg-4{
    padding: 30px;
    margin: auto;
}
#galeria img{
    width: 60%;
    height: 250px;
}
#galeria img:hover{
    border: 20px solid black;
}
.card img{
    width: 100%;
    height: 275px;
}
.card{
    padding: 30px;
    margin: auto;
}
.social-serv{
    text-align: center;
    font-size: 50px;
    color: white;
}
