@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Sofia+Sans+Semi+Condensed:wght@100;200;400&display=swap');

$color1: black;
$color2: white;
$color3: rgb(243, 73, 158);


$font1: 'Sofia Sans Semi Condensed', sans-serif, 100;
$font2: 'Sofia Sans Semi Condensed', sans-serif, 200;
$font3: 'Sofia Sans Semi Condensed', sans-serif, 400;
$font4: 'Marcador permanente', cursiva;

